<h1>Show Status</h1>

<ul>

  <li>
    <strong>Text:</strong>
    <%= @status.text %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.status_path(@conn, :edit, @status) %></span>
<span><%= link "Back", to: Routes.status_path(@conn, :index) %></span>
