export ENCRYPTION_KEYS='nMdayQpR0aoasLaq1g94FLba+A+wB44JLko47sVQXMg=,L+ZVX8iheoqgqb22mUpATmMDsvVGtafoAeb0KN5uWf0='
export SECRET_KEY_BASE=2PzB7PPnpuLsbWmWtXpGyI+kfSQSQ1zUW2Atz/+8PdZuSEJzHgzGnJWV35nTKRwx
export AUTH_API_KEY=88SwQHcGjWUPZYcJyhhLKb5qd1BWZ5v1P38XHD1qvVhSKc786CsJ/88SwQCjCteydKTP8cLm7cPwRLwE79yt3mNZWtAi7hyAPsiGA1ATG/authdemo.fly.dev