<h1>Show Item</h1>

<ul>

  <li>
    <strong>Text:</strong>
    <%= @item.text %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.item_path(@conn, :edit, @item) %></span>
<span><%= link "Back", to: Routes.item_path(@conn, :index) %></span>
