<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta name="csrf-token" content={csrf_token_value()} />
    <meta
      http-equiv="Content-Security-Policy"
      content="
        default-src 'self' dwyl.com https://*.cloudflare.com plausible.io;
        connect-src 'self' wss://mvp.fly.dev plausible.io;
        form-action 'self';
        img-src *; child-src 'none';
        script-src 'self' https://cdnjs.cloudflare.com plausible.io 'unsafe-eval' 'unsafe-inline';
        style-src 'self' 'unsafe-inline';
      "
    />

    <.live_title prefix="dwyl – ">
      <%= assigns[:page_title] || "mvp" %>
    </.live_title>
    <%= render("icons.html") %>
    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/app.css")}
    />
    <script
      defer
      phx-track-static
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
    <!-- see: https://github.com/dwyl/learn-alpine.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.2/cdn.js"
      defer
    >
    </script>
    <script
      defer
      data-domain="mvp.fly.dev"
      src="https://plausible.io/js/script.js"
    >
    </script>
  </head>
  <body>
    <nav class="px-2 sm:px-4 py-2 bg-gray-900 w-full min-h-[12%]">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
        <%= if @loggedin do %>
          <img
            src={@person.picture}
            class="mr-3 h-6 sm:h-9 rounded-full"
            alt="avatar image"
          />
        <% else %>
          <h1 class="text-white">Hi Friend!</h1>
        <% end %>
        <!-- always display logo -->
        <a href="/" class="flex items-center">
          <img
            src="https://dwyl.com/img/favicon-32x32.png"
            height="32"
            width="32"
            alt="dwyl logo"
          />
        </a>

        <%= if @loggedin do %>
          <div class="flex justify-between items-center">
            <div class="mr-1 inline-flex items-center pt-1 px-3 py-1 text-sm">
              <%= link("tags", to: "/tags", class: "text-white font-bold") %>
            </div>
            <%= link to: "/logout", class: "inline-flex items-center font-bold mr-1 -pt-1 px-3 py-1 text-sm
                bg-red-600 hover:bg-red-700 text-white rounded-md hover:cursor-pointer" do %>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 mr-2"
                fill="white"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M22.763,10.232l-4.95-4.95L16.4,6.7,20.7,11H6.617v2H20.7l-4.3,4.3,1.414,1.414,4.95-4.95a2.5,2.5,0,0,0,0-3.536Z" />
                <path d="M10.476,21a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V3A1,1,0,0,1,3,2H9.476a1,1,0,0,1,1,1V8.333h2V3a3,3,0,0,0-3-3H3A3,3,0,0,0,0,3V21a3,3,0,0,0,3,3H9.476a3,3,0,0,0,3-3V15.667h-2Z" />
              </svg>
              <span>Logout</span>
            <% end %>
          </div>
        <% else %>
          <%= link to: "/login" , class: "inline-flex items-center font-bold mr-1 -pt-1 px-3 py-1 text-sm
            bg-teal-700 hover:bg-teal-800 text-white rounded-md hover:cursor-pointer" do %>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 mr-2"
              fill="white"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path d="M16.043,14H7.957A4.963,4.963,0,0,0,3,18.957V24H21V18.957A4.963,4.963,0,0,0,16.043,14Z" /><circle
                cx="11"
                cy="5"
                r="5"
              />
            </svg>
            Login
          <% end %>
        <% end %>
      </div>
    </nav>
    <%= @inner_content %>
  </body>
</html>
