<h1>Show Timer</h1>

<ul>

  <li>
    <strong>Start:</strong>
    <%= @timer.start %>
  </li>

  <li>
    <strong>End:</strong>
    <%= @timer.end %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.timer_path(@conn, :edit, @timer) %></span>
<span><%= link "Back", to: Routes.timer_path(@conn, :index) %></span>
