/* This file is for your main application css. */

@import "./tachyons.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* from https://git.io/Je174 */
.border-dwyl-teal {
  border-color: #4bc0a9;
}
.border-dwyl-teal-darkest {
  border-color: #318d7b;
}
.dwyl-teal {
  color: #4bc0a9;
}
.dwyl-bg-teal {
  background-color: #4bc0a9;
}
.dwyl-bg-teal-dark {
  background-color: #339999;
}
.hover-dwyl-teal-darkest:hover,
.hover-dwyl-teal-darkest:focus {
  background-color: #318d7b;
}
.resize-none {
  resize: none;
}
