/* This file is for your main application css. */

@import "./tachyons.css";

html, body {
    height: 100%;
}

body {
    margin: 0;
}


/* from https://git.io/Je174 */
.dwyl-teal {
	color: #4BC0A9;
}
.dwyl-bg-teal {
  background-color: #4BC0A9;
}


.resize-none { resize: none; }