<.container>
<.h2 class="text-center mt-3">Edit Group</.h2>

<%= render "form.html", Map.put(assigns, :action, Routes.group_path(@conn, :update, @group)) |> Map.put(:method, "patch") %>

<.a to={Routes.list_path(@conn, :index)} label="Back to groups" />

</.container>
