<nav class="bg-gray-800" x-data="{ openMenu: false, showProfileDropdown: false}">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center pr-2">
        <%= if @loggedin do %>
          <!-- Profile dropdown -->
          <div
            x-on:click="showProfileDropdown = !showProfileDropdown"
            class="relative ml-3"
          >
            <div>
              <button
                type="button"
                class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                id="user-menu-button"
                aria-expanded="false"
                aria-haspopup="true"
              >
                <span class="sr-only">Open user menu</span>
                <img
                  src={@person.picture}
                  class="h-8 w-8 rounded-full"
                  alt="avatar image"
                />
              </button>
            </div>
            <!-- Dropdown menu, show/hide based on menu state. -->
            <div
              x-show="showProfileDropdown"
              x-on:click.away="showProfileDropdown = false"
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="transform opacity-0 scale-95"
              x-transition:enter-end="transform opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-75"
              x-transition:leave-start="transform opacity-100 scale-100"
              x-transition:leave-end="transform opacity-0 scale-95"
              class="absolute left-0 z-10 mt-2 w-48 origin-top-left rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              tabindex="-1"
            >
              <!-- Active: "bg-gray-100", Not Active: "" -->
              <%= link to: "/logout" , class: "block px-4 py-2 text-sm text-gray-700" do %>
                Sign out
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="flex-shrink-0">
            <%= link to: "/login" ,
                class: "relative inline-flex items-center gap-x-1.5 rounded-md bg-[#0F766E] px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-opacity-90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
                do %>
              Login
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="flex flex-1 items-center justify-center">
        <div class="flex flex-shrink-0 items-center">
            <%= if @custom_list do %>
              <h1 class="text-white text-2xl"> <%= list_name(@list_name) %></h1>
            <% else %> <!-- show the @dwyl logo and link to root -->
            <a href="/" class="flex items-center">
              <img
                src="https://dwyl.com/img/common/dwyl-heart-only-logo.png"
                height="32"
                width="32"
                alt="dwyl logo"
              />
            </a>
            <% end %>
          </div>
        </div>

      <div class="absolute inset-y-0 right-0 flex items-center">
        <!-- Mobile menu button-->
        <button
          x-on:click="openMenu = !openMenu"
          type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white 
            focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        >
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. Menu open: "hidden", Menu closed: "block" -->
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <!-- Icon when menu is open. Menu open: "block", Menu closed: "hidden" -->
          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div x-show="openMenu">
    <%= for list <- @lists do %>
      <div class="space-y-1 px-2 pb-3 pt-2 text-right">
        <a
          class="text-white bg-gray-700 hover:bg-gray-600 rounded-md px-3 py-2 text-sm font-medium"
          href={list_url(list.cid)}
        >
          <%= list_name(list.name) %>
        </a>
      </div>
    <% end %>
    <div class="space-y-1 px-2 pb-3 pt-2 text-right">
      <%= link("🗄 Lists",
        to: "/lists",
        class:
          "text-gray-900 bg-white hover:bg-gray-200 rounded-md px-3 py-2 text-sm font-medium"
      ) %>
    </div>
    <div class="space-y-1 px-2 pb-3 pt-2 text-right">
      <%= link("📈 Stats",
        to: "/stats",
        class:
          "text-gray-900 bg-white hover:bg-gray-200 rounded-md px-3 py-2 text-sm font-medium"
      ) %>
    </div>
    <div class="space-y-1 px-2 pb-3 pt-2 text-right">
      <%= link("🏷️ Tags",
        to: "/tags",
        class:
          "text-gray-900 bg-white hover:bg-gray-200 rounded-md px-3 py-2 text-sm font-medium"
      ) %>
    </div>
  </div>
</nav>
